<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289692394977-cl7kf0scacfkujqnt10kj61ctp263qlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289692394977-cl7kf0scacfkujqnt10kj61ctp263qlv</string>
	<key>API_KEY</key>
	<string>AIzaSyD2fKat-AszKCUpBJKTbhL2soMZjdqw-wQ</string>
	<key>GCM_SENDER_ID</key>
	<string>289692394977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nz.org.quit.test</string>
	<key>PROJECT_ID</key>
	<string>quitline-c3784</string>
	<key>STORAGE_BUCKET</key>
	<string>quitline-c3784.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289692394977:ios:4e1be1e77afcaf048a1ea0</string>
</dict>
</plist>